<div class="card p-6 bg-white rounded-xl shadow">

  <h2 class="text-2xl font-bold mb-4">
    Nuevo Tipo de Propiedad
  </h2>

  <div class="field mb-4">

    <label class="block mb-2 font-semibold">
      Nombre
    </label>

    <input
      pInputText
      [(ngModel)]="propertyType.name"
      class="w-full"
      placeholder="Ej: Apartamento">
  </div>

  <div class="flex gap-2">

    <p-button
      label="Guardar"
      icon="pi pi-save"
      (onClick)="save()"
      [loading]="loading">
    </p-button>

    <button
  pButton
  type="button"
  label="Cancelar"
  icon="pi pi-times"
  class="p-button-secondary"
  routerLink="/property-type">
</button>

  </div>

</div>

<p-toast></p-toast>